body {
    margin: 0;
}

header {
    text-align: center;
}

main {
    padding: 1%;
}

footer {
    padding: 1%;
    background-color: #333;
    color: white;
    text-align: right;
}

footer a {
    color: aqua;
}
footer a:visited {
    color: aqua;
}

a {
    text-decoration: none;
}
a:visited {
    color: blue;
}

.gallery {
    display: block;
    margin: auto;
    margin-bottom: 1%;
}